@font-face {
  font-family: 'Fraunces';
  src: url('../assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf')
}
@font-face {
  font-family: 'Manrope';
  src: url('../assets/fonts/manrope/Manrope-VariableFont_wght.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* font-family: 'Fraunces', serif; */
  font-family: 'Manrope', sans-serif;
}
.cards{
  padding: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #FCF8FF;
}


.cards .card-child{
  display: flex;
  margin: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--darkPurple);
}

.card-child .number{
    border: 1px solid #000;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    margin-bottom: 10%;
    font-family: 'Fraunces', serif;
}
.cards .card-child h2{
  font-family: 'Fraunces', serif;
  line-height: 40px;
  margin-bottom: 50px;
}



